<% @current_user.adventures.each do |adventure| %>
<p><%= link_to('Edit Adventure', edit_adventure_path(adventure)) %>
<%= link_to('Delete Adventure', delete_adventure_path(adventure)) %></p>
<p><%= image_tag(adventure.image, :class => 'thumb') %></p>
<p><%= link_to(adventure.title, adventure) %></p>
<% end %>