@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self

 */



.disappear { 
display: none;  
}

body { 
padding-top: 70px; 
 
 
}

.mine > p { 
margin: 0; }

.mine > h2 { 
margin-top: 0; 
margin-bottom: 25px; }


.adp { 
padding-top: 720px;
padding-left: 15px;  }

.col-md-4 { 
text-align: center; 
}

.col-md-4.portfolio-item > h4 { 
text-align: center; 

margin-top: 6px; 
padding: 0; 

}


img { 
max-width: 100%; 
max-height: 100%; 
border: 2px solid black; 
}

.edit-image { 
position: center; }


.wrap-left {
  display: inline-block;
  width: 48%;
}

.wrap-right {
  display: inline-block;
  width: 48%;
}

.creator-stuff {
  display: block;
  width: 100%; 

}

.creator-stuff img { 
width: 12%;
  }

.adventure-info {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.creator-msg {
  display: inline-block;
  font-size: 18px; 
  width: 40%; 
  text-align: center; 
}

.adventure-img {
  display: inline-block;
  width: 28%;
  vertical-align: bottom; 

}

.fellow-adventurers {
  display: inline-block;
  vertical-align: bottom; 
  margin-top: 5px; 
  text-align: center;
}

.fellow-adventurer {
  display: inline-block;
  width: 180px; 
}

.fellow-adventurer-profile {
  display: block;
  width: 50%; 
  position: center; 
  margin: 0 auto; 
}

.fellow-adventurer-name {
  display: block;
  text-align: center; 
  font-size: 18px; 
  margin-bottom: 0; 
  margin-top: 5px; 
}

.adventure-word {
  display: inline;
}


.request-adventurer-profile {
  display: inline-block;
  width: 14%;
  vertical-align: top;  

}

.border { 
border: 2px solid black; 
margin: 40px 0px 40px 0px; 
width: 70%; 
postion: center;

}

.right { 
float: right; }











